
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% include 'header.html' %}
    <!-- ====================================================================== -->
    <!-- Start: Main Content -->
    <!-- ====================================================================== -->

    <div class="mainContent" style="margin-top:2%">
        <div class="container">
            <div class="row myContent">
                <div class="col-xs-12 col-sm-12">
                    <div class="myMessages countries loginSetting">
                        <div class="row orderButtons">
                            <div class="col-xs-12 col-sm-4 text-center">
                                <a href="/register/">Register</a>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center">
                                <a href="/login/">Login</a>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center">
                                <a href="/forgot/">Reset Password</a>
                            </div>

                        </div>

                        <form action="/login/" method="post" class="loginForm"> {% csrf_token %}

                            <div class="row headline">
                                <div class="col-xs-12 text-center">
                                    <a id="loginBtn" class="myButton myFacebookColor" >Login With Facebook</a>
                                </div>
                            </div>
                            <div class="row inputRow">
                                <div class="col-xs-12 col-sm-12 pull-left">
                                    <input type="text" id="email" class="form-group myInput" name="email" placeholder="Email Address" />
                                </div>
                            </div>
                            <div class="row inputRow">
                                <div class="col-xs-12 col-sm-12 pull-left">
                                    <input type="password" id="password" class="form-group myInput" name="password" placeholder="Enter Password" />
                                </div>
                            </div>
                            <div class="row accSetting">
                                <div class="col-xs-12 col-sm-12 client text-center">
                                    <h3 class="myHeadLine">As you use our Site, always keep our Code of Conduct and other legal terms in mind.</h3>
                                </div>
                            </div>


                            <div class="row headline">
                                <div class="col-xs-12 text-center">
                                    <a onclick="loginFunc()" class="myButton">Let's Go</a>
                                </div>
                            </div>

                        </form>
                        <form action='/facebook_login/' id="facebook_login" method='POST'> {% csrf_token %}

                            <input type="text" id="userF" name="id" hidden>
                            <input type="text" id="emailF" name="email" hidden>
                            <input type="text" id="nameF" name="name" hidden>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ====================================================================== -->
    <!-- End: Main Content -->
    <!-- ====================================================================== -->


<script>

    $(".myInput").click(function () {
            $(this).css("border", "2px solid rgba(226, 228, 229, 0.44)")
        });

    function loginFunc(){
        var flag = true;
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var elems = document.getElementsByClassName("myInput");
        for(var i = 0; i < elems.length; i++) {
            if ( elems[i].value == ""){
                elems[i].style.border = "1px solid red";
                flag = false;
            } else {
                elems[i].style.border = "2px solid rgba(226, 228, 229, 0.44)";
            }
        }
        if (!re.test($("#email").val())){
            $("#email").css("border","1px solid red");
            flag = false;
        }
         if (flag) {
                $(".loginForm").submit();
            }

    }

    document.getElementById('loginBtn').addEventListener('click', function() {
        //do the login
        FB.login(function(response) {
            if (response.status === 'connected') {
                FB.api('/me?fields=name,email,id', function(response) {
                    $("#userF").val(response.id);
                    $("#emailF").val(response.email);
                    $("#nameF").val(response.name);
                    $("#facebook_login").submit();
                });
                //top.location.href = 'dashboard';
            }
            else if (response.status === 'not_authorized') {
              // The person is logged into Facebook, but not your app.
              document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
            } else {
              // The person is not logged into Facebook, so we're not sure if
              // they are logged into this app or not.
              document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
            }
        }, {scope: 'email'});
    }, false);


  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.

  window.fbAsyncInit = function() {
  FB.init({
      appId      : '1761851487423547',
      xfbml      : true,
      version    : 'v2.6'
    });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
{% endblock %}